/*Rene fucking help me with this*/
/*Rene done did it bro VVVVV*/
@keyframes spin{
	0% {
        font-size: 24px;
	    transform: rotate(360deg);
	    transition-duration: 1s;
	    transition-timing-function: ease-in-out;
	}
  100% {
        font-size: 50px;
        transition-duration: 1s;
	    transition-timing-function: ease-in-out
  }
}
 /* Rene note: I added the stuff above here ^^^^*/

.bastards{
	display: inline-block;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 24px;
	color: mediumvioletred;
	word-spacing: 4px;
	width:500px;
	border-radius: 100%;
	text-align: center;
	margin: 10px;
}
/* Rene Note: I added this too below VVVV*/
.bastards:hover .spin{
  -webkit-animation: spin 1.0s forwards; /* for less modern browsers */
   animation: spin 1.0s forwards;
	
		

}
